body{
    margin: 0;
    padding: .5rem 0 0 0;
    box-sizing: border-box;background-color: black;
}
*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-items{
    display: flex;
}

.navbar-lists{
   list-style: none;
}

.brand-logo{
    color: rgb(218, 142, 28);
    padding: 0 0 0 1rem ;
    font-size: 1.8rem;
   
}
.link{
    color: rgb(218, 142, 28);text-decoration: none;font-size: 1.5vw;
    padding: 0 2rem 0 ;
}

.link:hover{
    color: rgb(202, 99, 3);
}




.toggle-button{
    display:none;
    justify-content: space-between;
  
    height: 21px;
    width: 30px;position: relative;
    flex-direction: column;
}

.toggle-button .bar{
    border-radius: 10px;width: 100%;
  
  margin: .2rem 0 0;
    background-color: white;height: 50px;
}




@media(max-width:900px){
    .brand-logo{
        font-size: 4.5vw;
    }

    
    .toggle-button, .bar{
        display: flex;margin-left: 90vw;bottom: 3vw;position: relative;
       
    }
.navbar-links{
    display: none;width: 100%;
}

.navbar-links li{
    text-align: center;padding: 1rem 0;
}

.nav-bar{
flex-direction: column;align-items: flex-start;justify-content: space-between;
}
.navbar-links ul{
    flex-direction: column;width: 100%;
}
.navbar-links.active{
    display: flex;
}

.link{
        font-size:1rem;
}


}




.copy-heading{
    color: rgb(202, 99, 3);
    font-size: 2rem;
}





.wale{
    color: white;
}
.copy{
    color: rgb(202, 99, 3);
    line-height: 2;font-size:1.3rem;
}
.sales-copy{
    padding: 1rem 2rem 0 2rem;margin:  2rem 0 2rem ;position: relative;
}
.contact-us{
    background-color:rgb(202, 99, 3);text-decoration: none;
    color: white;border-radius: 3px;
    padding: .5rem;
   top: 1.5rem;position: relative;
}

.contact-us:hover{
    color: white;
    background-color: tomato;
}
.watch-image{
    padding: 3rem 0 0 0;height: 85%;
   width: 60%;margin-left: 12vw;
}

.home{
    padding: 0 3rem 0;
}




@media(max-width:1100px){
    .copy-heading{
        font-size: 1.3rem;
    }
    .sales-copy{
        padding: 3rem 4rem 0 4rem;
    }
    .wristwatch{
        text-align: center;
    }

}


.animationa{
background-color: chocolate;


}


.imagea{
    padding: 2rem 1rem;height: auto;width: 32%;
    animation:mymovea 5s infinite;
    animation-delay: 0s;
  
    
}





.animationb{
    background-color: chocolate; 
    
    
    }
    
    
    .imageb{
        padding: 2rem 1rem;height: auto;width: 32%;
        animation:mymovea 5s infinite;
        animation-delay: 5s;
      
        
    }



    
.animationc{
    background-color: chocolate; 
    
    
    }
    
    
    .imagec{
        padding: 2rem 1rem;height: auto;width: 32%;
        animation:mymovea 5s infinite;
        animation-delay: 10s;
      
        
    }


  .imageb{
      height: auto;width: 100%;
      object-fit: cover;
  }


@keyframes mymovea{

0%  {
  
  opacity: 0;
  
}


100%{

opacity: 1;
}

}


@keyframes mymoveb{

    0%  {
      
      opacity: 0;
      
    }
    
    
    100%{
    
    opacity: 1;
    }
    
    }



    @keyframes mymovec{

        0%  {
          
          opacity: 0;
          
        }
        
        
        100%{
        
        opacity: 1;
        }
        
        }







.about{
    padding: 4rem 4rem 5rem;
}
h2,h4{
    color: white;text-align: center;font-size: 2rem;
}
.aboutcopy{
    color: rgb(202, 99, 3); 
    line-height: 2;font-size:1.3rem;
}


.stressfree{
    padding: 3rem 4rem;
}
h5{
    color: rgb(202, 99, 3); text-align: center;
    padding: 2rem 0 2rem 2rem;
}


.whatsapp{
    background-color: darkgreen;
    color: white;text-decoration: none;
    text-align: center;padding: .5rem 1rem;
    border-radius: .3rem;
  
}
.whatsappdiv{
    text-align: center;font-size: 1rem;
}

.whatsapp:hover{
    color: white;
    background-color: limegreen;
}


footer{
    color: white;font-size: 1.1rem;text-align: center;
    padding: 2rem 0 0 ;
}













@media (max-width:900px){


    .link{
        font-size: 2rem;
        }
        .copy-heading{
            font-size: 4rem;
        }
        
        .copy{
            font-size: 2.3rem;
        }
        .contact-us{
            font-size: 2rem;
        }

        h2,h4{
            font-size: 4rem;
        }
        .aboutcopy{
            font-size: 2.5rem;
        }
        h5{
            font-size: 2.5rem;
        }
        .whatsappdiv{
            font-size:2.5rem ;
        }
}



























